<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Kitchen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <ul class="nav nav-tabs mb-3 mt-1">
            <li class="nav-item">
                {% if done %}
                    <a class="nav-link" id="incomingOrdersTab" aria-current="page" href="{% url 'kitchen' %}">Incoming orders</a>
                {% else %}
                    <a class="nav-link active" id="incomingOrdersTab" aria-current="page" href="{% url 'kitchen' %}">Incoming orders</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if done %}
                    <a class="nav-link active" id="completedOrdersTab" href="{% url 'history' %}">Completed orders</a>
                {% else %}
                    <a class="nav-link" id="completedOrdersTab" href="{% url 'history' %}">Completed orders</a>
                {% endif %}
            </li>
          </ul>
          {% if done %}
          <div class="alert alert-danger" role="alert">
            If you would like to move a completed order back to the incoming orders tab, select the <i>"Move to completed orders"</i> button.
          </div>
          {% endif %}
        <div class="row">
            {% for order in orders %}
                <div class="col">
                    <div class="card my-1" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Order for {{ order.name }}</h5>
                            {% if order.instructions != '' %}
                                <div class="alert alert-primary" role="alert">
                                    <strong>Specific instructions:</strong><br>
                                    {{ order.instructions }}
                                </div>
                            {% endif %}
                            <!-- <div class="alert alert-primary" role="alert"> -->
                                <!-- <strong>Ordered items:</strong><br> -->
                                {% for food in order.foods %}
                                <h5>{{ food.quantity}} x {{ food.name }}</h5>               
                            {% endfor %}
                            <!-- </div> -->
                            {% if done %}
                                <a href="{% url 'not_done' order.id %}" class="btn btn-secondary mt-2">Move to incoming orders</a>
                            {% else %}
                                <a href="{% url 'done' order.id %}" class="btn btn-primary mt-2">Move to completed orders</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div><br>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            window.location.reload()
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
</body>
</html>