<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <span>Name for the order:</span>
    <input id="name-input" type="text" size="100"><br>
    <span>Specific instructions:</span>
    <input id="instructions-input" type="text" size="100"><br>
    {% if foods %}
        {% for food in foods %}
            <input 
                type="checkbox" 
                id="{{ food.id }}" 
                class="foodCheckbox" 
                name="foodCheckbox"
                onChange="enableFoodQuantityButtonIfCheckedElseDisable(this, '{{ food.id }}')"
            >
            <label for="{{ food.id }}">{{food.name}}</label>
            <input id="foodQuantity{{ food.id }}" class="foodQuantityInput" type=number min=1 max=9 value=1>
            <button id="incrementFoodQuantity{{ food.id }}" class="foodQuantityButton" onclick="increment('foodQuantity{{ food.id }}')" disabled>+</button>
            <button id="decrementFoodQuantity{{ food.id }}" class="foodQuantityButton" onclick="decrement('foodQuantity{{ food.id }}')" disabled>-</button>
            <br>
        {% endfor %}
        {% else %}
            <p>No foods are available.</p>
    {% endif %}
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        function enableFoodQuantityButtonIfCheckedElseDisable(checkbox, foodId) {
            document.getElementById('incrementFoodQuantity' + foodId).disabled = !checkbox.checked;
            document.getElementById('decrementFoodQuantity' + foodId).disabled = !checkbox.checked;
        }



        function increment(inputId) {
            document.getElementById(inputId).stepUp();
        }

        function decrement(inputId) {
            document.getElementById(inputId).stepDown();
        }

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#name-input').focus();

        function getOrderFormRequestBody() {
            const orderFormRequestBody = {
                name: document.querySelector('#name-input').value,
                instructions: document.querySelector('#instructions-input').value,
                foodOrders: []
            }
            const checkboxes = document.getElementsByName("foodCheckbox")
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    orderFormRequestBody.foodOrders.push({
                        foodId: checkboxes[i].id,
                        foodQuantity: document.getElementById("foodQuantity" + checkboxes[i].id).value
                    })
                }
            }
            return orderFormRequestBody
        }

        function resetForm() {
            resetFoodQuantityInputs()
            disableFoodQuantityButtons()
            uncheckBoxes()
            clearForm()
        }

        function resetFoodQuantityInputs() {
            const foodQuantityInputs = document.getElementsByClassName('foodQuantityInput')
            for (var i = 0; i < foodQuantityInputs.length; i++) {
                foodQuantityInputs[i].value = 1
            }
        }

        function disableFoodQuantityButtons() {
            const foodQuantityButtons = document.getElementsByClassName('foodQuantityButton')
            for (var i = 0; i < foodQuantityButtons.length; i++) {
                foodQuantityButtons[i].disabled = true
            }
        }

        function uncheckBoxes() {
            var checkboxes = document.getElementsByName('foodCheckbox');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = false
            }
        }

        function clearForm() {
            document.querySelector('#name-input').value = ''
            document.querySelector('#instructions-input').value = ''
        }

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const orderFormRequestBody = getOrderFormRequestBody()
            chatSocket.send(JSON.stringify(orderFormRequestBody))
            resetForm()
        };
    </script>
</body>
</html>