<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Order Food</title>
    <!-- CSS only -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <div class="container">
            <div class="form-group">
              <label for="name-input">Name for the order</label>
              <input type="email" class="form-control" id="name-input" aria-describedby="emailHelp" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="instructions-input">Specific Instructions</label>
                <textarea class="form-control" id="instructions-input" rows="3" placeholder="Examples: toasted, add ingredients, change bread"></textarea>
                <!-- <small id="instructions-help" class="form-text text-muted">Examples: toasting your sandwich, adding/removing ingredients, changing bread, anything you'd like!</small> -->
            </div>
            {% for food in foods %}
            <div class="form-check">
              <input 
                type="checkbox" 
                class="form-check-input foodCheckbox" 
                name="foodCheckbox" 
                id="{{ food.id }}"
                onChange="enableFoodQuantityButtonIfCheckedElseDisable(this, '{{ food.id }}')"
            >
              <label class="form-check-label" for="exampleCheck1"><span id="foodLabel{{ food.id }}">{{ food.name }}</span> - {{ food.description }}</label>
              <div class="btn-group">
                <button id="decrementFoodQuantity{{ food.id }}" class="foodQuantityButton btn btn-danger border-secondary" onclick="decrement('foodQuantity{{ food.id }}')" disabled>-</button>
                <input id="foodQuantity{{ food.id }}" class="foodQuantityInput form-control rounded-0" type=number min=1 max=9 value=1 readonly>
                <button id="incrementFoodQuantity{{ food.id }}" class="foodQuantityButton btn btn-success border-secondary" onclick="increment('foodQuantity{{ food.id }}')" disabled>+</button>
              </div>
             
            </div>
            {% endfor %}
            <input class="btn btn-primary btn-lg btn-block mt-3" id="chat-message-submit" type="button" value="Send to kitchen">
    </div>
    {{ room_name|json_script:"room-name" }}
    <script>
        function enableFoodQuantityButtonIfCheckedElseDisable(checkbox, foodId) {
            document.getElementById('incrementFoodQuantity' + foodId).disabled = !checkbox.checked;
            document.getElementById('decrementFoodQuantity' + foodId).disabled = !checkbox.checked;
        }



        function increment(inputId) {
            document.getElementById(inputId).stepUp();
        }

        function decrement(inputId) {
            document.getElementById(inputId).stepDown();
        }

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#name-input').focus();

        function getOrderFormRequestBody() {
            const orderFormRequestBody = {
                name: document.querySelector('#name-input').value,
                instructions: document.querySelector('#instructions-input').value,
                foodOrders: []
            }
            const checkboxes = document.getElementsByName("foodCheckbox")
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    orderFormRequestBody.foodOrders.push({
                        foodId: checkboxes[i].id,
                        foodName: document.getElementById("foodLabel" + checkboxes[i].id).textContent,
                        foodQuantity: document.getElementById("foodQuantity" + checkboxes[i].id).value
                    })
                }
            }
            return orderFormRequestBody
        }

        function resetForm() {
            resetFoodQuantityInputs()
            disableFoodQuantityButtons()
            uncheckBoxes()
            clearForm()
        }

        function resetFoodQuantityInputs() {
            const foodQuantityInputs = document.getElementsByClassName('foodQuantityInput')
            for (var i = 0; i < foodQuantityInputs.length; i++) {
                foodQuantityInputs[i].value = 1
            }
        }

        function disableFoodQuantityButtons() {
            const foodQuantityButtons = document.getElementsByClassName('foodQuantityButton')
            for (var i = 0; i < foodQuantityButtons.length; i++) {
                foodQuantityButtons[i].disabled = true
            }
        }

        function uncheckBoxes() {
            var checkboxes = document.getElementsByName('foodCheckbox');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = false
            }
        }

        function clearForm() {
            document.querySelector('#name-input').value = ''
            document.querySelector('#instructions-input').value = ''
        }

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const orderFormRequestBody = getOrderFormRequestBody()
            console.log(orderFormRequestBody)
            chatSocket.send(JSON.stringify(orderFormRequestBody))
            resetForm()
        };
    </script>
</body>
</html>