<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <span>Name for the order:</span>
    <input id="name-input" type="text" size="100"><br>
    <span>Specific instructions:</span>
    <input id="instructions-input" type="text" size="100"><br>
    {% if foods %}
        {% for food in foods %}
            <input type="checkbox" id="{{ food.id }}" class="foodCheckbox" name="foodCheckbox">
            <label for="{{ food.id }}">{{food.name}}</label>
            <input id="quantity{{ food.id }}" type=number min=0 max=9 value=0>
            <button onclick="increment('quantity{{ food.id }}')">+</button>
            <button onclick="decrement('quantity{{ food.id }}')">-</button>
            <br>
        {% endfor %}
        {% else %}
            <p>No foods are available.</p>
    {% endif %}
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        function increment(inputId) {
            document.getElementById(inputId).stepUp();
        }

        function decrement(inputId) {
            document.getElementById(inputId).stepDown();
        }

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#name-input').focus();

        // Pass the checkbox name to the function
        function getCheckedBoxes(checkboxName) {
            var selectedFoodIds = [];
            var checkboxes = document.getElementsByName(checkboxName);
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    selectedFoodIds.push(checkboxes[i].id);
                }
            }
            return selectedFoodIds;
        }

        function uncheckBoxes(checkboxName) {
            var checkboxes = document.getElementsByName(checkboxName);
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = false
            }
        }

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const nameInputDom = document.querySelector('#name-input');
            const instructionsInputDom = document.querySelector('#instructions-input');
            const name = nameInputDom.value;
            const instructions = instructionsInputDom.value;
            chatSocket.send(JSON.stringify({
                'name': name,
                'instructions': instructions,
                'selectedFoodIds': getCheckedBoxes("foodCheckbox"),
            }));
            nameInputDom.value = '';
            instructionsInputDom.value = '';
            uncheckBoxes('foodCheckbox');
        };
    </script>
</body>
</html>